.card{
    width: 95%;
    background-color: black;
    border-radius: 10px;
    display: flex;
}

.card:hover{
    background-color: #1a1a1a;
}

.card .img{
    padding: 5px;
}

.card .img img{
    border-radius: 10px;
}

.card .video_details{
    color: white;
}

.card .video_details{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .video_details .video_title{
    font-size: 18px;
    /* font-weight: bold; */
    text-align: left;
}

.card .video_metadata{
    display: flex;
}